<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.monzware.messaging.ui.preferences.MessagingToolboxPreferences"
            class="com.monzware.messaging.ui.preferences.jboss.VendorPreferences"
            id="com.monzware.messaging.ui.preferences.jboss510.VendorPreferences"
            name="JBoss 5.1.0 Configuration">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.monzware.messaging.ui.preferences.jboss.VendorPreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         id="com.monzware.messaging.toolbox.jbossext510"
         name="JBoss 5.1.0"
         point="com.monzware.messaging.providers">
      <configurationwizardpage
            class="com.monzware.messaging.ui.jboss.VenderConfigurationWizardPage"
            name="JBoss path">
      </configurationwizardpage>
      <configurationwizardpage
            class="com.monzware.messaging.ui.jboss.ServerWizardPage"
            name="Server configuration">
      </configurationwizardpage>
      <configurationwizardpage
            class="com.monzware.messaging.ui.jboss.DestinationWizardPage"
            name="Destinations">
      </configurationwizardpage>
      <configurationpersitence
            class="com.monzware.messaging.toolbox.jboss510.ConfigurationPersistanceImpl">
      </configurationpersitence>
      <objectfactory
            class="com.monzware.messaging.toolbox.jboss510.ObjectFactory">
      </objectfactory>
   </extension>

</plugin>
