<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.monzware.messaging.toolbox.ext700"
         name="JBoss Messaging vendor"
         point="com.monzware.messaging.vendor">
      <facade
            class="com.monzware.messaging.toolbox.jboss.JBossVendorFacade"
            name="JBoss 7.0.0">
      </facade>
   </extension>

</plugin>
